#evententrydiv {
    display:flex;
    flex-direction:row; 
    font-size:30px;
    
    font-weight: bold;    
    
}
#typediv {
    margin: auto 2px;
    min-width: 200px;
}
.red{
    color:rgb(204, 14, 14)
}
.blue{
    color:rgb(50, 12, 187);
}