.team-entry{
  display: flex;
  flex-direction: row; 
  justify-content: flex-start;
  align-items: stretch;
}

.invitation-entry{
  display: flex;
  flex-direction: row; 
  justify-content:space-evenly;
  align-items: center;
  text-align: center;
}

.btn-join{
  background: #01d28e;
  border: 1px solid #01d28e;
}

.inv-team{
  flex-grow: 6;
}

.btn-accept{
  background: #01d28e;
  border: 1px solid #01d28e;
}

.btn-active{
  background: #01d28e;
  border: 1px solid #01d28e;
}

.btn-inactive{
  background: #bdbdbd;
  border: 1px solid #000000;
}

.btn-decline{
  background-color: #faa6a6;
  border: 1px solid red
  
}

