.list {
    width: 80%;
    max-width: 850px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    min-width: fit-content;
}

table {
    width: 100%;
    table-layout: fixed;
}

th, td {
    padding: 10px;
    text-align: left;
    
}  

.list-headers {
    font-weight: bold;
}

.list-entry {
    border-radius: 10px;
    border: 2px solid lightgray;
}

.flex-items {
    margin: auto 2px;
}

.col1 {
    min-width: 350px;

}
.col2 {
    min-width: 120px;
}

.col3 {
    min-width: 70px;
}

.col4, .col5 {
    min-width: 100px;
}

.btn {
    cursor: pointer;
    padding: 5px 10px;
    text-align: center;
}

.btn[name="edit"] {
    background: #d2b301;
    border: 1px solid #d2b301;
    color: #fff;
}
.btn[name="edit"]:hover {
    background: #ddc01b;    
}
.btn[name="leave"], .btn[name="cancel"], .btn[name="kick"] {
    background: #d20801;
    border: 1px solid #d20801;
    color: #fff;
}
.btn[name="leave"]:hover, .btn[name="cancel"]:hover, .btn[name="kick"]:hover {
    background: #cf4540;    
}

.btn[name="confirm"] {
    background: #01d205;
    border: 1px solid #01d205;
    color: #fff;
}
.btn[name="confirm"]:hover {
    background: #1ce21f;    
}


.btn[name="promote"] {
    background: #1201d2;
    border: 1px solid #1201d2;
    color: #fff;
}
.btn[name="promote"]:hover {
    background: #3d2de9;    
}
