.list {
    width: 80%;
    max-width: 850px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    min-width: fit-content;
}

.list-headers {
    font-weight: bold;
}

.list-entry {
    border-radius: 10px;
    border: 2px solid lightgray;
}

.flex-items {
    margin: auto 2px;
}

.col1 {
    min-width: 350px;

}
.col2 {
    min-width: 120px;
}

.col3 {
    min-width: 70px;
}

.col4, .col5 {
    min-width: 100px;
}

.btn {
    cursor: pointer;
    padding: 5px 10px;
    text-align: center;
}


.col4 .btn {
    background: #d2b301;
    border: 1px solid #d2b301;
    color: #fff;
}

.col4 .btn:hover {
    background: #dfcc64;    
}

.col5 .btn {
    background: #d20801;
    border: 1px solid #d20801;
    color: #fff;
}

.col5 .btn:hover {
    background: #cf4540;    
}
