.list .team_details{
    width: 80%;
    max-width: 850px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    min-width: fit-content;
}

table {
    table-layout: fixed;
}

th, td {
    padding: 5px 10px;
    text-align: left;
    min-width: 150px;    
}  

.list-headers {
    font-weight: bold;
}

.list-entry {
    border-radius: 10px;
    border: 2px solid lightgray;
}

.flex-items {
    margin: auto 2px;
}

.col1 {
    min-width: 300px;

}
.col2 {
    min-width: 70px;
}

.col3 {
    min-width: 100px;
}

.btn {
    cursor: pointer;
    padding: 5px 10px;
    text-align: center;
}

.btn-yellow {
    background: #d2b301;
    border: 1px solid #d2b301;
    color: #fff;
}
.btn-yellow:hover {
    background: #ddc01b;    
}
.btn-red {
    background: #d20801;
    border: 1px solid #d20801;
    color: #fff;
}
.btn-red:hover {
    background: #cf4540;    
}

.btn-green {
    background: #01d205;
    border: 1px solid #01d205;
    color: #fff;
}
.btn-green:hover {
    background: #1ce21f;    
}


.btn-blue {
    background: #1201d2;
    border: 1px solid #1201d2;
    color: #fff;
}
.btn-blue:hover {
    background: #3d2de9;    
}
