#streamingheader{
    height:10vh;
    
}
/*
font-familty:Harrington
*/
#phaseheader{
    
    font-weight: bold;  
    font-size:20px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;

}
#scorediv{
    height:45vh;
    display:flex;  
}
/*
background-color: #47c2ff;
*/
.backgroundstreaming{
background-image: url('../images/background1.jpg');
background-size: cover;
}

#firstteam{
    width: 45vw;
    height:100%;
    border-color: rgb(204, 14, 14);
    border-style: solid;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 40px;
    overflow:hidden;
    position: relative;
    margin-left:10px;
    
}
#middleteamzone{
    width: 10vw;
    height:100%;
   border-left-style:none;
   border-right-style: none;
   border-top-style:solid ;
   border-bottom-style:solid;
   border-top-color:rgb(50, 12, 187);
   border-bottom-color:rgb(204, 14, 14);
   border-radius: 40px;
   display:flex;
   align-items: center;
   justify-content: center;
    

}
#secondteam{
    width: 45vw;
    height:100%;
    border-color: rgb(50, 12, 187);
    border-radius:40px;
    border-style: solid;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right:10px;
    
}
.streamingheading{
 font-size:25px;
 
 font-weight: bold;   
}

#firstteam > .streamingheading{
    color:rgb(204, 14, 14)
}
#firstteam > .streamingscore{
    color:rgb(204, 14, 14)
}
#secondteam > .streamingheading{
    color:rgb(50, 12, 187)
}
#secondteam > .streamingscore{
    color:rgb(50, 12, 187)
}
.streamingscore{
font-size:100px;
font-weight: bold;  
}
 #eventsdiv{   
    display: flex;
    padding-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    min-width: fit-content;
    flex-direction:column;
 }

 #backlinkstreaming{
    text-decoration: none;
    position: relative;
    color: #ffffff
 }
#backlinkstreaming:hover {
    color: #ffffffde;
}
/*
#firstteam:before{
    content:'';
    position:absolute;
    width: 150%;
    height: 100px;
    background:linear-gradient(
        rgb(204, 14, 14),rgb(77, 2, 2)
    );
    animation: rotate 4s linear infinite;   
}

#firstteam:after{
    content:'';
    position:absolute;

}


@keyframes rotate{
    0%{
        transform:rotate(0deg)
    }
    100%{
        transform: rotate(360deg)
    }
}   
*/
 
