.creation-form {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-grow: 3;
 
  }
  .input-tour-container{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
  }
  .button-tour-container{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
  }
  .selector-tour{
    height: 34px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 257px;
    
}
.tourlabel,.tourinput{
    display:flex;
    flex-direction:column;
    align-items: center;
}
.tourlabel{
    padding-bottom:1px;
}


  .tourinput[type="text"],
  .tourinput[type="number"]
  {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 250px;
    padding-top: 5px;
  }

  .tourinput[type="date"]{
    height: 32px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 257px;
    padding-top:5px
  }

  #createtournamentbutton{
    width: 200px;
    
}
#maintourcreationdiv{
  flex-direction: row;
}

#uploadclasses{
    display:flex;
    flex-direction:column;
    flex-grow:1;
    align-items: center;
}
.input-group{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}
#uploadclasslabel{
 padding-bottom: 10px;
}

.uploadclassbutton input[type="submit"] {
  background: #688bec;
  border: 1px solid #688bec;
}

.uploadclassbutton input[type="submit"]:hover {
  background: #97abe3;
}
