.list {
    width: fit-content;
}

.list-tour-header{
    width: 80%;
    max-width: 850px;
    margin-left:20px;
}
.flex-container {
    display: flex;
    justify-content: space-between;
    min-width: fit-content;
}

.flex-container-details {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    min-width: fit-content;
}

.flex-container-details:hover {
    background: #cac8c8;
}

.list-headers {
    font-weight: bold;
}

.list-tour-entry {
    padding:10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 2px solid rgb(230, 225, 229);
}

/*
.list-tour-entry:hover{
    background:rgb(248, 248, 248)
}
*/



.list-entry-details {
    cursor: pointer;
    border-radius: 10px; 
    border: 1px solid rgb(237, 240, 238);
}


.flex-items {
    margin: auto 2px;
    text-align:center;
}

.col1 {
    min-width: 100px;

}

.col2 {
    min-width: 120px;
}

.col3 {
    min-width: 120px;
}

.col4 {
    min-width: 170px;
}

.col5 {
    min-width: 120px;
}

.col6 {
    min-width: 100px;
}

.btn {
    cursor: pointer;
    padding: 5px 10px;
    text-align: center;
    border-radius: 10px;
}

.joinable {
    cursor: pointer;
    padding: 5px 36px;
    text-align: center;
    border-radius: 10px;
    
}

.joined {
    cursor: pointer;
    padding: 5px 10px;
    text-align: center;
    border-radius:10px;

}

.col6 .joined {
    border: 1px solid #07be44;
    background: #07be44;
    color: #fff;

}
#teamtojointour{
    border-radius:10px;
}
.col6 .joinable {
    border: 1px solid #07be44;
    background: #07be44;
    color: #fff;
}

.col6 .joinable:hover {
    background: #04772a;
}
.col6 .scoreboardbutton{
    border: 1px solid #3133ca;
    background: #3133ca;
    color: #fff;
}
.col6 .scoreboardbutton:hover{
background:#07098d
}
.scoreboardbutton{
    cursor: pointer;
    padding: 5px 10px;
    text-align: center;
    border-radius: 10px;
}


.col6 .btn {
    background: #d20801;
    border: 1px solid #d20801;
    color: #fff;
}

.col6 .btn:hover {
    background: #cf4540;
}

#classuploadinfo {
    display: grid;
    grid-template-columns: 40% 60%;
    /* flex-direction: row; */
    /* align-items: left; */
    /* justify-content: left; */
}

.displayclassupload {
    display: flex;
    flex-direction: row;
    padding-bottom: 1px;
}


/* #roundid {
    height: 13px;
    width: 40px;
} */

.classbuttonupload input[type="submit"] {
    background: #688bec;
    border: 1px solid #688bec;
}

.classbuttonupload input[type="submit"]:hover {
    background: #97abe3;
}

.flex-container-team-row {
    display: flex;
    flex-direction: row;
    width: fit-content;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.flex-container-team-col {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.flex-items-team {
    margin: auto 5px;
}

.name {
    font-weight: 500;
}

/* .input-container {
    flex-direction: row;
} */

.input-bloc {
    display: flex;
    flex-direction: column;
    padding-bottom: 1px;
    align-items: left;
    justify-content: left;
}

.class {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 10px;
}

.input-bloc .input-container label {
    width: 60px;
}

.input-bloc .input-container {
    flex-direction: row;
    align-items: center;
}

.join-bloc .input-container {
    flex-direction: row;
    align-items: baseline;
}

.list-tour-entry p {
    margin: auto 5px;
}
#winnertournament{
    margin-bottom: 15px;
    margin-left:10px;
    font-weight:bold;
}
#winnerspan{
    font-weight:normal;
}
.confirmdiv{
    display:flex;

}
.confirmbutton{
    margin-left:10px;
    color:#07be44;
    border-radius:10px;
    background-color: #fff;
}
.confirmbutton:hover{
    background-color: rgba(42, 245, 42, 0.363);
    cursor: pointer;
}

.tournamentbuttons{
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    height:75px;
    margin-left:5px;
}
/*
th{
    background-color: #ffffff;
}
tr{
    background-color:#fdfffe;
}
td{
    background-color:#ffffff; 
}
table, th, td,tr {
    border: 3px ridge;

  }
  
  th{
    color:#000000
  }
  */
  #scoreboard {
    
    border:ridge black 1px;
    border-radius:6px;
}

.scoreboardtd, .scoreboardth {
    border-left:ridge black 1px;
    border-top:ridge black 1px;
    background-color: #fff;
}

.scoreboardth {
    background-color: rgb(27, 27, 212);
    border-top: none;
    color:#6bfc9b
}

.scoreboardtd:first-child, .scoreboardth:first-child {
     border-left: none;
}
  #tablecontainer{
    display:flex;
    align-items:center;
    justify-content: center;
    margin-top:10px;
  }
  .filter:hover{
    cursor:pointer;
  }
  #classescontainer{
    display:flex;
    width:100%;
    flex-direction:row;
    align-items:center;
    margin-bottom:20px;
  }
  #classesselectedp{
   margin-right:50px;
   
  }

  #classesselection {
    
    border:ridge black 1px;
    border-radius:6px;
}

.classestd, .classesth {
    border-left:ridge black 1px;
    border-top:ridge black 1px;
    background-color: #fff;
}

.classesth{
    background-color: rgb(255, 255, 255);
    border-top: none;
    color:black;
    font-weight:normal ;
    
}




 
  