.creation-form {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-grow: 3;
 
  }
#maintourcreationdiv{
  flex-direction: row;
}

#uploadclasses{
    display:flex;
    flex-direction:column;
    flex-grow:1;
    align-items: center;
}

.uploadclassbutton input[type="submit"] {
  background: #688bec;
  border: 1px solid #688bec;
}

.uploadclassbutton input[type="submit"]:hover {
  background: #97abe3;
}

input[type="file"]::file-selector-button {
  cursor: pointer;
  font-size: 15px;
  border: 1px solid #a5a5a5;
  padding: 5px 10px;
}
